<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Form Layout | TailAdmin - Tailwind CSS Admin Dashboard Template
  </title>
<link rel="icon" href="favicon.ico"><link href="style.css" rel="stylesheet"></head>

<body class="">

  <div class="w-full p-4 sm:p-12.5 xl:p-17.5">

    <div class="w-full p-6 flex flex-row justify-center items-center">
        <img class="w-75" src="src/images/error404/404.png" alt="error404">

    </div>

    <h2 class=" mb-9  font-bold text-black dark:text-white sm:text-title-x6 text-center">Pagina no encontrada</h2>

    <p class=" mb-9  font-bold text-black dark:text-white sm:text-title-x6 text-center">¡Ups! Parece que se ha perdido en la web,pero no se preocupe,
    estoy aqui para ayudarle a encontrar el camino de regreso</p>

     <div class="flex flex-row justify-center items-center">
        <button>
            <a class=" w-72 cursor-pointer rounded-lg border border-primary bg-primary p-4 font-medium text-white transition hover:bg-opacity-90 " href="#">Regresar</a>
        </button>
     </div>
    
    
    


 </div>

</body>

<script defer src="bundle.js"></script>

</html>